// OPCION 1
/*
.carrouselContainer {
    //height: 33.359375vw;
    .selectedSlide {
        //width: 66.7%;
        width: 66.71875vw;
        height: 100%;
        float: left;
        background-color: blueviolet; //DEBUG
    }

    .allSlides {
        //display: inline;
        div {
            height: 8.4375vw;
            background-color: aquamarine; //DEBUG
        }
    }
}
*/
.carrouselContainer {
    .selectedSlide {
        //width: 66.71875vw;
        //height: 100%;
        background-color: blueviolet; //DEBUG
        background-size: cover;
    }

    .allSlides {
        padding: 0;
        div {
            height: 8.4375vw;
            background-color: aquamarine; //DEBUG
            background-size: cover;
            cursor: pointer;
            &:not(:last-child) {
                border-bottom: solid 0.5px #ffffff;
            }
            p {
                margin: 0
            }
        }
    }
}