<!-- <ux-panel label="Carrousel"> -->
    <!-- OPCION 1 -->
    <!--
    <div class="carrouselContainer">
        <div class="selectedSlide">
            <h1>{{items[0].title}}</h1>
            <p>{{items[0].subtitle}}</p>
        </div>
        <div class="allSlides">
            <div *ngFor="let item of items">
                <p>{{item.type | uppercase}}</p>
                <h4>{{item.title}}</h4>
            </div>
        </div>
    </div>
    -->

    <!-- OPCION 2 -->
    <div class="row carrouselContainer">
        <div class="col-8 selectedSlide" [ngStyle]="{'background-image': getUrl()}">
            <h1>{{selectedItem.title}}</h1>
            <p>{{selectedItem.subtitle}}</p>
            <ux-button>Read the {{selectedItem.type | titlecase}}</ux-button>
        </div>
        <div class="col allSlides">
            <div *ngFor="let item of items" 
                 (click)="onSelect(item)"
                 [ngClass]="{itemNotSelected: item.id != selectedItem.id}"
                 [ngStyle]="{'background': item.id == selectedItem.id ? getUrlItem(item) : '#000000'}">
                <p>{{item.type | uppercase}}</p>
                <h4 class="line-clamp">{{item.title}}</h4>
            </div>
        </div>
    </div>

<!-- </ux-panel> -->